* {
    font-family: 'Heebo', sans-serif;
    max-width: 1200;
    margin: auto;
}

body {
    background-color: rgb(31, 30, 30);
}

.image {
    background-size: cover;
    background-position: center;
    width: 300px;
    margin: 15px;
}

.name {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    top: 80%;
    left: 25%;
    background-color: none;
}

.dev {
    color: #17aaff;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 84%;
    left: 30%;
    background-color: none;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600px;
}

span {
    color: rgb(173, 172, 172);
}

.bio {
    color: #17AAFF;
    font-weight: 300;
}

p {
    color: rgb(173, 172, 172);
}

.services {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

h2 {
    color: #fff;
    font-weight: 600;
    font-size: 30;
}

h3 {
    color: #fff;
    font-weight: 600;
}